footer {
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;

  color: #fff;
}

footer span a {
  font-weight: bold;
  text-decoration: none;
  color: #ff8800;
}

@media only screen and (min-width: 768px) {
  footer {
    width: 70%;
    margin: 0 auto;
  }

  footer span a {
    transition: color .4s;
    -webkit-transition: color .4s  ;
    -moz-transition: color .4s  ;
    -ms-transition: color .4s  ;
    -o-transition: color .4s  ;
  }

  footer span a:hover {
    color: #cc6c00;
  }
}
